.expenseActions {
  // width: 8em;
  text-align: end !important;
}

.expenseHeaderItem {
  text-align: center !important;
}

.expense {
  overflow-x: auto;
}

.expenseTable {
  min-width: 96em !important;
}
