.reckonupLogo {
  max-height: 34px !important;
}

.userName {
  min-width: 5em;
}

.userAvatar {
  max-height: 34px !important;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 10px;
}
